<div class="reach-us-container">
  <div class="reach-us-container-content">
    <div class="reach-us-container-content-title">Convinced to work with us ?</div>
    <div class="reach-us-container-content-sub-title">Company has helped agencies keep their promises to clients since 2005.</div>
    <div class="reach-us-container-content-input">
      <div>
        <input type="text" placeholder="Full name">
        <input type="email" placeholder="Email">
        <input type="phone" placeholder="Phone Number">
      </div>
      <div>
        <textarea placeholder="Message"></textarea>
      </div>
      <div>
        <app-button>Submit</app-button>
      </div>
    </div>
  </div>
  <footer></footer>
</div>
