<div class="people-text">
  <h1>Naurius id bibendum est. Proin dabipus<br>
  sollicitudi iaculis, Maecenas<br>
  condimentum maximus laoreet.</h1>
  <p>In maximus euismod egestas. Fusce tincidunt posuere est non elementum.<br>
    Vivamus tincidunt eleifend nisl et gravida. Aenean in lorem ultrices,<br>
    pellentesque augue eu, mattis est. Praesent sed volutpat nibh. Morbi<br>
    faucibus tortor sed neque vulputate hendrerit. Sed aliquam mattis purus<br>
    eleifend consectetur. Nulla mollis non enim non tempus.</p>
</div>
<div class="people-image"></div>
