@import "./src/assets/styles/mixins";
:host {
  width: 100%;
}

.home-container {
  width: 100%;
  height: 100vh;
  background: url("banner.jpg") center center no-repeat rgba(0, 0, 0, 0.9);
  background-size: cover;
  background-blend-mode: multiply;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: white;

  &-title {
    text-align: center;
    letter-spacing: 1px;
    font-size: 2em;
    margin-bottom: 10px;
    padding: 2%;
  }

  &-service {
    display: flex;
    font-size: 1em;

    @include main-mobile {
      flex-direction: column;
      width: 100%;
    }

    &-image {
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      align-items: center;
      height: 200px;
      width: 180px;
      border: 1px groove wheat;
      margin: 10px;
      padding: 5px;

      @include main-mobile {
        flex-direction: row;
        height: 33.33%;
        width: 95%;
        justify-content: flex-start;
      }

      img {
        width: 80px;
        height: auto;
        object-fit: cover;
        margin-right: 10px;

        @include main-mobile {
          width: 20%;
          padding: 2%
        }
      }
    }
  }
}
