<section class="home-container">
  <div class="home-container-title">Integer bibendum sit amet<br>acru vel egestas</div>
  <div class="home-container-service">
    <div class="home-container-service-image">
      <img src="assets/images/teamwork.svg">
      <div>Service Name</div>
    </div>
    <div class="home-container-service-image">
      <img src="assets/images/teamwork.svg">
      <div>Service Name</div>
    </div>
    <div class="home-container-service-image">
      <img src="assets/images/teamwork.svg">
      <div>Service Name</div>
    </div>
  </div>
</section>
