<div class="testimonial-container">
  <header class="testimonial-container-header">
    Testimonials
  </header>
  <div class="testimonial-container-content">
    <app-testimonial-card>
      <p content> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam pellentesque dapibus neque, id dictum sapien elementum ac. Vivamus tincidunt tincidunt neque at fermentum. Donec eget purus ac ligula mollis accumsan. Suspendisse semper pharetra ante eu euismod. Vivamus molestie, leo sed tincidunt malesuada, leo magna lobortis nisi, in ullamcorper magna tortor vel felis. Fusce at sagittis enim, sit amet lobortis purus.</p>
      <div class="testimonial-container-content-speaker" speaker>
        <div class="testimonial-container-content-speaker-image">
          <img src="./assets/images/user.svg">
        </div>
        <div class="testimonial-container-content-speaker-name">
          <p>CLIENT NAME</p>
          <p>Position, org</p>
        </div>
      </div>
    </app-testimonial-card>
    <app-testimonial-card>
      <p content> Lorem ipsum dolor si pellentesque dapibus neque, id dictum sapien elementum ac. Vivamus tincidunt tincidunt neque at fermentum. Donec eget purus ac ligula mollis accumsan. Suspendisse semper pharetra ante eu euismod. Vivamus molestie, leo sed tincidunt malesuada, leo magna lobortis nisi, in ullamcorper magna tortor vel felis. Fusce at sagittis enim, sit amet lobortis purus.</p>
      <div class="testimonial-container-content-speaker" speaker>
        <div class="testimonial-container-content-speaker-image">
          <img src="./assets/images/user.svg">
        </div>
        <div class="testimonial-container-content-speaker-name">
          <p>CLIENT NAME</p>
          <p>Position, org</p>
        </div>
      </div>
    </app-testimonial-card>
    <app-testimonial-card>
      <p content> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam pellentesque dapibus neque, id dictum sapien elementum ac. Vivamus tincidunt tincidunt neque at fermentum. Donec eget purus ac ligula mollis accumsan. Suspendisse semper pharetra ante eu euismod. Vivamus molestie, leo sed tincidunt malesuada, leo magna lobortis nisi, in ullamcorper magna tortor vel felis. Fusce at sagittis enim, sit amet lobortis purus.</p>
      <div class="testimonial-container-content-speaker" speaker>
        <div class="testimonial-container-content-speaker-image">
          <img src="./assets/images/user.svg">
        </div>
        <div class="testimonial-container-content-speaker-name">
          <p>CLIENT NAME</p>
          <p>Position, org</p>
        </div>
      </div>
    </app-testimonial-card>
  </div>
</div>
